# editor/temporary files
.vscode/
.ipynb_checkpoints/
.idea/
.pytest_cache/

#compiled sources
*.py[ocd]
__pycache__

#build
build/
dist/
api/

# Egg metadata
*.egg-info
.eggs
.pypirc

#doc sphinx
api/
build/

notebooks/

#virtual envs
env/
venv/

htmlcov/
.coverage
